h1,p,figcaption{
    text-align:center;
    margin:0;
    font-family:Georgia,sans-serif;
    color:#f25480;
  }
  h1{
    font-size:50px;
  }
  p{  padding-bottom:10px;
  color:#ea778e;
  }
  #img-caption {
    font-size:10px;
  }
  #heading{
    font-weight:600;
    font-size:30px;
    color:#f25480;
  }
  #image{
    max-width:100%;
    height:auto;
    display: block;
    margin:0 auto;
    border-radius:10%;
  }
  #tribute-info{
    padding-top:25px;
  }
  ul {
    text-align: center;
    padding: 0; 
  }
  li{
    display:block;
    margin: 10px auto;
    font-size:20px;
    color:#ea778e;
  }
  .bold,a{
    color:#f25480;
    font-weight:600;
  }
  a:hover{
    color:white;
  }
  header{
  width:100%;
  }
  body{ background-color:#c9d2fc;
  }
  
